.checkout-pane {
  padding-top: 10px;
}

.checkout-form {}

.checkout-name {}

.checkout-email {}

.checkout-phone {}

.checkout-address {}

.checkout-pan {}

.checkout-bookingfor {}

.checkout-amount {}

.checkout-submit-button {}

.checkout-pay-button {}

#DT a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

#DT a:hover {
  color: inherit;
  transform: scale(1.05);
}