/* ------------------------------------- HOMEPAGE BANNER SECTION ------------------------------------- */

.banner {
  width: 100%;
}

.banner img {
  display: block;
  width: 100%;
}

/* ------------------------------------- BANNER MOTIF SECTION ------------------------------------- */
.motif-home {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 2;
  text-align: center;
  margin-top: -80px;
}

@media (max-width: 767px) {
  .motif-home {
    display: none;
  }
}
