/* --------------------- SRI NARAYANI PEEDAM SECTION --------------------- */
/* Outer Container Row */
#POL {
  background: #01417e;
  margin: 0 50px;
  padding: 50px 0;
  border-radius: 20px;
}

/* Section Wrapper & Text Content */
.peedam {
  margin-top: 20px;
  text-align: center;
}

.peedam h2,
.peedam p {
  color: #fff;
}

.peedam p {
  padding: 0 200px;
  margin-top: 10px;
}

.peedam .more-2 {
  margin-bottom: 70px;
}

/* Pathway of Light Quote Sub-section */
.light p {
  font-family: "georgia";
  font-style: italic;
  font-size: 26px;
  letter-spacing: 0.01em;
  padding: 0 210px;
  margin-top: 10px;
  line-height: 32px;
}

.light .Q1,
.light .Q2 {
  position: absolute;
}

.light .Q1 {
  left: 165px;
  bottom: 160px;
}

.light span {
  position: relative;
  bottom: 0;
  font-size: 20px;
  top: 20px;
  float: inline-end;
}

/* --------------------- MEDIA QUERIES (HIGH TO LOW) --------------------- */

@media (min-width: 1919px) {
  .light .Q1 {
    left: 140px !important;
  }
}

@media (min-width: 1831px) and (max-width: 1919px) {
  #POL {
    left: 70px;
  }
  .peedam {
    margin-top: 60px;
  }
  .light p {
    padding: 0 120px;
  }
  .light .Q1 {
    left: 70px;
    bottom: 130px;
  }
}

@media (min-width: 1731px) and (max-width: 1830px) {
  .peedam {
    margin-top: 60px;
  }
  .light p {
    padding: 0 120px;
  }
  .light .Q1 {
    left: 70px;
    bottom: 130px;
  }
}

@media (min-width: 1600px) and (max-width: 1730px) {
  .peedam p,
  .light p {
    font-size: 22px;
  }
  .peedam {
    margin-top: 20px;
  }
  .light .Q1,
  .light .Q2 {
    width: 50px;
  }
}

@media (min-width: 1401px) and (max-width: 1599px) {
  .peedam {
    margin-top: 60px;
  }
  .peedam p {
    padding: 0 120px;
  }
  .light p {
    padding: 0 130px;
  }
  .light .Q1 {
    left: 85px;
  }
}

@media (min-width: 1321px) and (max-width: 1400px) {
  .peedam p {
    padding: 0 120px;
  }
  .light p {
    font-size: 21px;
  }
  .light .Q1 {
    left: 70px;
  }
  .light span {
    bottom: 70px;
  }
}

@media (min-width: 1200px) and (max-width: 1320px) {
  .peedam {
    text-align: center;
    margin-top: 10px;
  }
  .peedam p {
    padding: 0 100px;
  }
  .peedam .more-2 {
    margin-bottom: 50px;
  }
  .light p {
    font-size: 22px;
  }
  .light span {
    bottom: 10px;
  }
  .light .Q1 {
    left: 45px;
    bottom: 160px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .peedam {
    margin-top: 30px;
  }
  .peedam p {
    padding: 0 120px;
  }
  .light p {
    font-size: 22px;
  }
  .light span {
    bottom: 0;
  }
  .light .Q1 {
    left: 60px;
    bottom: 160px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .peedam {
    margin-top: 0;
  }
  .peedam p {
    padding: 0;
  }
  .peedam .more-2 {
    margin-bottom: 30px;
  }
  .light p {
    font-size: 18px;
    padding: 0 10px;
    line-height: 25px;
  }
  .light .Q1,
  .light .Q2 {
    width: 45px;
  }
  .light .Q1 {
    position: relative;
    left: 0;
    bottom: 0;
  }
}

@media (max-width: 767px) {
  #POL {
    padding: 20px 0;
    margin: 0px 30px;
  }
  .peedam {
    margin-top: 0;
  }
  .peedam p {
    padding: 0;
  }
  .light {
    padding-bottom: 50px;
  }
  .light span {
    bottom: 25px;
    font-size: 18px;
    margin-bottom: 50px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .sri-narayani-peedam .row > .col-md-6:last-child {
    display: flex;
    justify-content: center;
  }

  .sri-narayani-peedam .row > .col-md-6:last-child img {
    width: 75%;
  }
}

@media (max-width: 575px) {
  #POL {
    padding: 10px 0;
    margin: 0px 15px;
  }

  .sri-narayani-peedam .row > .col-md-6:last-child {
    display: flex;
    justify-content: center;
  }

  .sri-narayani-peedam .row > .col-md-6:last-child img {
    width: 80%;
  }
}