/* ----------------------------------- SRI SAKTHI AMMA SECTION (HOMEPAGE) ----------------------------------- */

/* Outer Container & Section Heading */
.sri-sakthi-amma {
  width: 100%;
}

.amma-heading-section {
  padding-top: 50px;
  margin-bottom: -50px;
  text-align: center;
}

.sri-sakthi-amma h2 {
  color: #9f1605 !important;
}

.sri-sakthi-amma h3,
.sri-sakthi-amma h1 {
  margin-bottom: 15px;
  font-size: 28px;
}

#about {
  padding: 15px 240px;
  margin-top: 50px;
  border-radius: 20px;
}

#about h1,
#about h3 {
  padding-left: 48%;
}

#about h2 {
  padding-left: 50%;
}

.sri-sakthi-amma .motif {
  padding-left: 69%;
  margin: 0 auto;
}

/* Image & Text Content */
.about-img {
  position: relative;
  top: -120px;
}

.sri-sakthi-amma-image {
  width: 90%;
  margin: 0 auto;
}

.about-info {
  position: relative;
  top: 80px;
}

.about-info p {
  width: 80%;
  margin: 0 auto;
}

#first-arrow {
  margin-left: 48px;
}

#second-arrow {
  margin-left: 128px;
}

/* More Button in Sakthi Amma Section */
.sri-sakthi-amma .more-1 {
  text-align: center;
  margin-top: 20px;
}

.sri-sakthi-amma .more-1 a {
  font-family: "helvetica", sans-serif;
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 0.01em;
  border: 1px solid #d4b16f;
  border-radius: 40px;
  color: #4173ba;
  padding: 4px 15px;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: 0.35s;
}

.sri-sakthi-amma .more-1 a:hover {
  color: #fff;
}

.sri-sakthi-amma .more-1:hover .more-img {
  transform: rotate(45deg) !important;
  filter: brightness(10.5);
}

.sri-sakthi-amma .more-1 a:after,
.sri-sakthi-amma .more-1 a:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: #9f1605;
  z-index: -1;
  transition: 0.35s;
}

.sri-sakthi-amma .more-1 a:after {
  transition-delay: 0.2s;
}

.sri-sakthi-amma .more-1 a:hover:after,
.sri-sakthi-amma .more-1 a:hover:before {
  top: 0;
}

/* Video Section & Play Button */
.video {
  width: 70%;
  margin: 30px auto 0;
  position: relative;
  text-align: center;
}

.video h2 {
  padding: 0 !important;
}

.button {
  position: relative;
  display: inline-block;
}

.button.is-play {
  background-color: #faebd7bf;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button.is-play .button-outer-circle {
  background: rgb(250, 235, 215);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.button.is-play .button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
}

.button.is-play .button-icon .triangle {
  -webkit-animation: 7s fadeIn;
  animation: 7s fadeIn;
}

.button.is-play .button-icon .path {
  stroke-dasharray: 90;
  stroke-dashoffset: 0;
  -webkit-animation: 3s triangleStroke;
  animation: 3s triangleStroke;
}

.has-scale-animation {
  -webkit-animation: 3s infinite smallScale;
  animation: 3s infinite smallScale;
}

.has-delay-short {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes triangleStroke {
  from {
    stroke-dashoffset: 90;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes triangleStroke {
  from {
    stroke-dashoffset: 90;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes smallScale {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes smallScale {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

@media (max-width: 1440px) {
  .sri-sakthi-amma h3,
  .sri-sakthi-amma h1 {
    font-size: 23px;
  }
  #about {
    padding: 15px 120px;
  }
  #about h1 {
    font-size: 24px;
  }
  .about-info {
    top: 50px;
  }
  .video {
    margin-top: 20px;
  }
  .button.is-play {
    width: 65px;
    height: 65px;
  }
  .sri-sakthi-amma .more-1 a {
    font-size: 14px;
  }
}

@media (max-width: 1366px) {
  #about {
    padding: 15px 100px;
  }
  .about-info {
    top: 50px;
  }
  .sri-sakthi-amma .more-1 a {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  #about {
    padding: 15px 60px;
  }
  .about-info {
    top: 50px;
  }
  .video {
    margin-top: 25px;
  }
  .sri-sakthi-amma .more-1 a {
    font-size: 15px;
  }
}

@media (max-width: 1024px) {
  .about-info {
    top: 60px;
  }
  .video {
    margin-top: 10px;
  }
  .sri-sakthi-amma .more-1 a {
    font-size: 15px;
  }
}

@media (max-width: 991px) {
  .amma-heading-section {
    margin-bottom: -30px;
  }
  .sri-sakthi-amma h3,
  .sri-sakthi-amma h1 {
    font-size: 18px;
  }
  #about {
    padding: 15px 0 30px 0;
    margin-top: 20px;
  }
  .about-info {
    top: 45px;
  }
  .video {
    margin-top: 8px;
  }
  .sri-sakthi-amma .more-1 {
    margin-bottom: 40px;
  }
  .sri-sakthi-amma .more-1 a {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .amma-heading-section {
    padding-top: 0px;
  }
  #about {
    padding: 15px 0;
  }
  #about h2,
  #about h1 {
    padding-left: 0;
    text-align: center;
  }
  .sri-sakthi-amma-image {
    width: 60%;
    margin: 0 auto;
  }
  .sri-sakthi-amma .motif {
    margin-bottom: 15px;
    padding-left: 0;
  }
  .sri-sakthi-amma .more-1 {
    margin-bottom: 0px !important;
    margin-top: 10px;
  }
  .sri-sakthi-amma .more-1 a {
    font-size: 12px;
  }
  .video {
    width: 50%;
    margin: 0 auto;
    position: relative;
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
  .sri-sakthi-amma-image {
    width: 75%;
  }
  .video {
    width: 65%;
  }
}

@media (max-width: 480px) {
  .sri-sakthi-amma-image {
    width: 85%;
  }
  .video {
    width: 75%;
  }
}

@media (max-width: 360px) {
  .sri-sakthi-amma-image {
    width: 90%;
  }
  .video {
    width: 85%;
  }
}

