/* ---------------------------------------- SRI SAKTHI AMMA SECTION (HOMEPAGE) ---------------------------------------- */
.sri-sakthi-amma {
  width: 100%;
  padding: 50px 0;
}

#about {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 80%;
}

/* Heading & Subtitle Block */
.amma-heading-section {
  text-align: center;
  margin-bottom: 10px;
}

.sri-sakthi-amma h1 {
  font-size: 30px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.sri-sakthi-amma h2 {
  font-size: 25px;
  margin-bottom: 0px;
}

.sri-sakthi-amma .motif {
  margin: 0 auto 15px auto;
  display: block;
  max-width: 120px;
}

/* Left Image Column */
.about-img {
  text-align: center;
}

.sri-sakthi-amma-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Right Content Column */
.about-info {
  text-align: center;
}

.about-info p {
  width: 90%;
  margin: 0 auto 20px auto;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

/* Action Button (.more-1) */
.sri-sakthi-amma .more-1 {
  text-align: center;
  margin-bottom: 25px;
}

.sri-sakthi-amma .more-1 a {
  font-family: "helvetica", sans-serif;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.01em;
  border: 1px solid #d4b16f;
  border-radius: 40px;
  color: #4173ba;
  padding: 6px 22px;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: 0.35s;
}

.sri-sakthi-amma .more-1 a:hover {
  color: #fff;
}

.sri-sakthi-amma .more-1:hover .more-img {
  transform: rotate(45deg) !important;
  filter: brightness(10.5);
}

.sri-sakthi-amma .more-1 a:after,
.sri-sakthi-amma .more-1 a:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: #9f1605;
  z-index: -1;
  transition: 0.35s;
}

.sri-sakthi-amma .more-1 a:after {
  transition-delay: 0.2s;
}

.sri-sakthi-amma .more-1 a:hover:after,
.sri-sakthi-amma .more-1 a:hover:before {
  top: 0;
}

/* Video Thumbnail & Animated Play Button */
.video {
  width: 50%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.video img {
  border-radius: 10px;
}

.button.is-play {
  background-color: rgba(250, 235, 215, 0.75);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button.is-play .button-outer-circle {
  background: rgb(250, 235, 215);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.button.is-play .button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
}

.button.is-play .button-icon .triangle {
  -webkit-animation: 7s fadeIn;
  animation: 7s fadeIn;
}

.button.is-play .button-icon .path {
  stroke-dasharray: 90;
  stroke-dashoffset: 0;
  -webkit-animation: 3s triangleStroke;
  animation: 3s triangleStroke;
}

.has-scale-animation {
  -webkit-animation: 3s infinite smallScale;
  animation: 3s infinite smallScale;
}

.has-delay-short {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes triangleStroke {
  from {
    stroke-dashoffset: 90;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes triangleStroke {
  from {
    stroke-dashoffset: 90;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes smallScale {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes smallScale {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

@media (max-width: 1700px) {
  .sri-sakthi-amma {
    padding: 60px 0;
  }
  #about {
    max-width: 85%;
  }
}

@media (max-width: 1600px) {
  .sri-sakthi-amma {
    padding: 60px 0 50px;
  }
  #about {
    max-width: 85%;
  }
  .sri-sakthi-amma h1 {
    font-size: 29px;
  }
  .sri-sakthi-amma .more-1 a {
    font-size: 15px;
    padding: 5px 20px;
  }
}

@media (max-width: 1440px) {
  .sri-sakthi-amma {
    padding: 60px 0 40px;
  }
  .sri-sakthi-amma h1 {
    font-size: 28px;
  }
  .sri-sakthi-amma h2 {
    font-size: 23px;
  }
  .about-info p {
    font-size: 17px;
  }
  .sri-sakthi-amma .more-1 a {
    font-size: 15px;
    padding: 5px 18px;
  }
}

@media (max-width: 1366px) {
  .sri-sakthi-amma {
    padding: 60px 0 35px;
  }
  .sri-sakthi-amma h1 {
    font-size: 26px;
  }
  .sri-sakthi-amma h2 {
    font-size: 22px;
  }
  .about-info p {
    font-size: 17px;
  }
  .sri-sakthi-amma .more-1 a {
    font-size: 14px;
    padding: 5px 18px;
  }
}

@media (max-width: 1200px) {
  .amma-heading-section {
    width: 100%;
    margin-bottom: 20px;
  }
  .sri-sakthi-amma h1 {
    font-size: 25px;
    width: 100%;
    max-width: 100%;
  }
  .sri-sakthi-amma h2 {
    font-size: 21px;
  }
  .about-info p {
    font-size: 17px;
    margin: 0 auto 10px auto;
  }
  .sri-sakthi-amma .more-1 {
    margin-bottom: 10px;
  }
  .sri-sakthi-amma .more-1 a {
    font-size: 14px;
    padding: 4px 16px;
  }
  .video {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .sri-sakthi-amma h1 {
    font-size: 24px;
  }
}

@media (max-width: 991px) {
  .sri-sakthi-amma {
    padding: 60px 0 30px;
  }
  #about {
    max-width: 90%;
  }
  .amma-heading-section {
    margin-bottom: 10px;
  }
  .sri-sakthi-amma h1 {
    font-size: 23px;
    margin-bottom: 10px;
  }
  .sri-sakthi-amma h2 {
    font-size: 19px;
  }
  .about-img {
    margin-bottom: 10px;
  }
  .sri-sakthi-amma-image {
    max-width: 55%;
  }
  .about-info p {
    width: 90%;
    font-size: 16px;
  }
  .sri-sakthi-amma .more-1 a {
    font-size: 14px;
    padding: 4px 16px;
  }
  .video {
    width: 45%;
  }
}

@media (max-width: 767px) {
  .sri-sakthi-amma {
    padding: 25px 0;
  }
    #about {
    max-width: 100%;
    padding: 0;
  }
  .sri-sakthi-amma-image {
    max-width: 60%;
  }
  .sri-sakthi-amma h1 {
    font-size: 22px;
  }
  .sri-sakthi-amma h2 {
    font-size: 17px;
  }
  .about-info p {
    font-size: 15px;
  }
  .sri-sakthi-amma .more-1 a {
    font-size: 13px;
    padding: 4px 14px;
  }
  .video {
    width: 55%;
  }
}

@media (max-width: 575px) {
    .sri-sakthi-amma {
    padding: 20px 0;
  }
  .sri-sakthi-amma-image {
    max-width: 85%;
  }
    .sri-sakthi-amma h1 {
    font-size: 20px;
  }
  .about-info p {
    width: 100%;
    padding: 0 20px;
  }
  .sri-sakthi-amma .more-1 a {
    font-size: 12px;
    padding: 3px 12px;
  }
  .video {
    width: 65%;
  }
}

@media (max-width: 480px) {
  .sri-sakthi-amma {
    padding: 10px 0;
  }
  .sri-sakthi-amma-image {
    max-width: 80%;
  }
  .video {
    width: 75%;
  }
  .sri-sakthi-amma h1 {
    font-size: 19px;
  }
  .sri-sakthi-amma .more-1 a {
    font-size: 11px;
    padding: 3px 10px;
  }
}

@media (max-width: 360px) {
  .sri-sakthi-amma {
    padding: 10px 0;
  }
  .sri-sakthi-amma-image {
    max-width: 90%;
  }
  .sri-sakthi-amma h1 {
    font-size: 18px;
  }
  .sri-sakthi-amma h2 {
    font-size: 16px;
  }
  .about-info p {
    font-size: 14px;
    padding: 0 10px;
  }
  .sri-sakthi-amma .more-1 a {
    font-size: 10px;
    padding: 3px 8px;
  }
  .video {
    width: 85%;
  }
}